[flake8]
max-line-length = 88
ignore = S311,D106,S101,W503
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist,
    .pytest_cache,
    htmlcov,
    .coverage
