[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 88
known_first_party = ["homepot"]
known_third_party = ["fastapi", "pydantic", "pytest"]

[tool.black]
line-length = 88
target-version = ['py39', 'py310', 'py311', 'py312']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''
